#footer {
  background-color: #394b57 !important;
  min-height: 5rem;
  padding: 1rem;
  text-align: center;
  color: rgb(163, 159, 159);
  font-size: 1.75rem;
}

#footer a {
  color: rgb(163, 159, 159);
}

#footer img {
  height: 10rem;
  padding: 1rem;
}

/*footer centrado*/
@media (max-width: 768px) {
  #piecontacto p {
    text-align: center !important;
  }
}
/* @media (max-width: 768px) {
  #footer img {
    display: none;
  }
} */
