.card-titulo {
  color: blue !important;
}
.card-precio {
  color: red !important;
}

/* .avatar {
  border-radius: 100%;
  width: 1rem;
  border: 0.5rem solid rgb(0, 255, 64);
} */

#check {
  font-size: 2rem;
  color: red;
}

#check1 {
  font-size: 2rem;
  color: blue;
}

li,
h4,
h5 {
  color: rgb(163, 159, 159) !important;
}

.fa-ul {
  font-size: 1.5rem;
}

#carousel-inner img {
  /* height: 40rem;
  width: 10rem; */
  /* position: relative; */
  height: 70vh;
  width: 20vh;
  /* object-fit: cover; */
}
