html {
  font-size: 62.5%;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Roboto', sans-serif;  */
  /* font-style: italic; */
}
body {
  font-size: 1.5rem;
  /* font-family: 'Merriweather', serif; */
  font-family: helvetica, serif;
}
/*Header*/
#header .contacto {
  /* background-color: rgba(46, 42, 42, 0.801) !important; */
  background-color: rgb(53, 105, 136) !important;
  color: white;
  font-size: 3rem;
  font-family: helvetica, serif;
  padding: 1.5rem;
  text-align: center;
}

#header nav {
  /* background-color: rgba(46, 42, 42, 0.801) !important; */
  background-color: rgb(53, 105, 136) !important;
  font-size: 1.75rem;
}

#header img {
  height: 7rem;
}

#header span {
  background-color: rgb(53, 105, 136) !important;
  padding-top: 1rem;
  font-size: 150%;
}

#menu123 {
  /* background-color: black; */

  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
}

#inlineFormCustomSelectPref {
  background-color: rgb(214, 213, 213);

  /* color: white; */
  font-size: 1.25rem;
}

.text-rolling {
  color: rgb(34, 184, 243) !important;
}
/*fin de header*/

/*Main*/
.carousel-inner img {
  height: 70vh;
  width: 10vh;
  object-fit: cover;
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
  font-size: 1.5rem;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#carousel .overlay button,
#carousel .overlay a {
  font-size: 1.5rem;
}

.card {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  color: black;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 2rem;
}
.card-img-top {
  height: 150px;
}
.card img {
  height: 200px;
  /* width: auto; */
  object-fit: cover;
}

.card span {
  color: white;
  font-size: 20px;
}

#speakers .card,
#speakers .card h5 {
  font-size: 2rem;
}

/*Footer*/
#footer {
  background-color: rgb(53, 105, 136) !important;
  min-height: 5rem;
  padding: 2rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

#footer a {
  color: white;
}

#footer img {
  height: 7rem;
}

/*fin footer*/

#marque img {
  height: 25rem;
  width: 25rem;
}

/*botones redes sociales*/

.sticky-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -150px;
  top: 230px;
  width: 210px;
  z-index: 1100;
}
.sticky li {
  list-style-type: none;
  background-color: #fff;
  color: #efefef;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.sticky li:hover {
  margin-left: -60px;
}
.sticky li img {
  float: left;
  margin: 5px 4px;
  margin-right: 5px;
}
.sticky li p {
  padding-top: 5px;
  margin: 0px;
  line-height: 16px;
  font-size: 11px;
}
.sticky li p a {
  text-decoration: none;
  color: #2c3539;
}
.sticky li p a:hover {
  text-decoration: underline;
}

/*fin botones redes sociales*/

/*****************************************/

@media (min-width: 1024) {
  #lugar-fecha img {
    height: 100%;
    object-fit: cover;
  }
}

/*marquesina*/
@media (max-width: 768px) {
  #marque {
    display: none;
  }
}

@media (max-width: 768px) {
  #incorporaciones {
    display: none;
  }
}
/*footer centrado*/
@media (max-width: 768px) {
  #piecontacto p {
    text-align: center !important;
  }
}
@media (max-width: 768px) {
  #footer img {
    display: none;
  }
}

@media (max-width: 768px) {
  #inlineFormCustomSelectPref {
    font-size: 0.75rem;
  }
}

@media (max-width: 360px) {
  #inlineFormCustomSelectPref {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  #main .carousel-inner img {
    height: 35rem;
    object-fit: cover;
    filter: grayscale(70%);
  }
}

/*card*/
@media (max-width: 768px) {
  #card {
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }
}
